<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Formulaire dynamique</title>
  <link rel="stylesheet" href="app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-messages.js"></script>
  <script src="app.js"></script>
</head>

<body ng-controller="DynFormCtrl as formCtrl">
  <h1>Formulaire dynamique</h1>

  <form name="form" novalidate>
	<div ng-repeat="field in formCtrl.fields" ng-switch="field.type" ng-form="formRow">
	{{field.label}}
		<span ng-show="">*</span>
		<div ng-switch-when="select" ng-required ="field.constraints.required" class="error">
		<select ng-model="formCtrl.formData[field.property]" ng-options="code as label for (code, label) in field.list" ng-required ="field.constraints.required">

		</select>
		</div>
		<div ng-switch-when="checkbox">
		<input type="checkbox">
		</div>
		<div ng-switch-default>
		<input type="{{field.type}}" ng-model="formCtrl.formData[field.property]" ng-required ="field.constraints.required">
		</div>
		<span ng-messsages="formRow.inputfield.$error" class="error"/>
			<span ng-messsage="number">
			<span ng-messsage="number">
			<span ng-messsage="number">
	</div>
  </form>

<pre>{{formCtrl.fields| json}}</pre>
</body>
</html>
